<!DOCTYPE html>
<html>
  <head>
    <title>Moejurphyjerky</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <Hello name="John"></Hello>
    <Welcome></Welcome>
    <h1>YOYOYO</h1>
    <%= yield %>

  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'hello_react', 'data-turbolinks-track' => true %>
</html>
